<!-- Inbox -->
<% if @user.has_new_messages %>
<b> <%= link_to "You have new messages!", mxit_inbox_path %> </b><br/>
<% end %>

<%= link_to "Home", :controller => 'mxit/welcome', :action => :index %> |
<%= link_to "Messages", mxit_conversation_index_path() %>
<br/>