<%= render "mxit/header" %>
Your message was sent to <%= other_participant_link(@user, @conversation) %>. <br/>
"<%= @message.text %>" <br/>
<%= link_to "View conversation", mxit_conversation_path(@conversation) %>
