<%= render "mxit/header" %>
Sending message to <%= other_participant_link(@user, @conversation) %>. <br/>
<%= link_to "View older messages", mxit_conversation_path(@conversation) %> <br/>

<% @message.errors.full_messages.each do |error_message| %>
<b><%= error_message %></b><br/>
<% end %>

Enter your message: <br/>
<%= form_for [:mxit, @conversation, @message], :url => mxit_conversation_messages_path(@conversation) do |f| %>
  <%= f.label :text, 'Enter your message: ' %> <br/>
  <%= f.text_field :text %> <br/>
  <%= f.submit 'Send' %>
<% end %>
