<%= render "mxit/header" %>
<% @conversations.each do |conversation| %>
  <% unread = conversation.contains_unread?(@user) %>
  <% if unread %><b> (*) <% end %>
  <%= link_to conversation.get_other_participant_names(@user).join(','), mxit_conversation_path(conversation.id) %>
  <% if unread %></b><% end %>
  (last: <%= conversation.last_message_time.strftime('%a %d %b %H:%M') %>)<br/>
  <br/>
<% end %>