<%= render "mxit/header" %>
<%= link_to "Reply", new_mxit_conversation_message_path(@conversation) %><br/>
<% @conversation.messages.reverse_each do |message| %>
  <%= message.author.auth_key %>: <%= message.text %><br/>
<% end %>

