<%= render "mxit/header" %>
<%= link_to "Reply", new_mxit_forum_thread_post_path(@thread) %><br/>

<b><%= @thread.title %></b> - <%= @thread.created.strftime('%A %d %B, %H:%M') %><br/>
+-----+<br/>

<% @posts[0..(@limit-1)].each do |post| %>
  <%= "#{post.created.strftime('%a %d %b, %H:%M')}" %>
  <%= link_to post.user.auth_key, mxit_profile_path(post.user) %>
  <%= "#{post.text}" %><br/>--<br/>
<% end %>

<% if @page > 1 %>
 <%= link_to "Last page", mxit_forum_thread_posts_path(@thread, :page => (@page-1)) %>
<% end %>
<% if @posts.length > @limit and @page > 1 %> | <% end %>
<% if @posts.length > @limit %>
  <%= link_to "Next page", mxit_forum_thread_posts_path(@thread, :page => (@page+1)) %>
<% end %>