<%= render "mxit/header" %>
<%= link_to "Back", mxit_forum_thread_posts_path(@thread) %> <br/>

<% @post.errors.full_messages.each do |error_message| %>
<b><%= error_message %></b><br/>
<% end %>

<%= form_for ([:mxit, @thread, @post]) do |f| %>
  <b>Thread: </b> <%= @thread.title %> <br/>
  <%= f.label :text, 'Enter your reply: ' %> <br/>
  <%= f.text_field :text %> <br/>
  <%= f.submit 'Send' %>
<% end %>
